// Place all the styles related to the tipos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.centrado {
		position:absolute;
		top: 100px;
		left: 275px;
		width: 800px
	}
.centrado4 {
		position:absolute;
		top: 100px;
		left: 275px;
		width: 800px
}
.centrado1 {
	position:absolute;
		top: -20px;
		left: 80px;
		width: 500px
}
.centrado2 {
	position:absolute;
		left: -50px;
		width: 500px
}

.centrado3 {
	position:absolute;
		top: 100px;
		left: -30px;
		width: 500px
}
