.camposexo{
        width:500px;
    margin: 0em 0em 0em 0em;
}


.camporegistro_telefono_izq{
  vertical-align: middle;
  width:100px;
  float:left;
    margin: 0em 0em 0.5em 0em;
}

.camporegistro_telefono_der{
  vertical-align: middle;
  width:393px;
  float:left;
  margin: 0em 0em 1.7em 0.5em;
}


.contenedorregistro { 
 	margin-left: auto;
   	margin-right: auto;
 	width:500px;

}

.camporegistro{
      width:500px;
    margin: 0em 0em 1.7em 0em;
}

.contenedorlogin { 
  	margin-left: auto;
   	margin-right: auto;
 	width:500px;
}

.campologin{
   	width:500px;
   	margin: 0em 0em 1em 0em;	
}

.contenedoredicion { 
 	margin-left: auto;
   	margin-right: auto;
 	width:500px;
}

.campoedicion{
   	width:500px;
   	margin: 0em 0em 1em 0em;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

.field{	
  margin: 0em 0 1em 0em;
}


